@font-face {
  font-family: "HN-Futura-Duplex-Regular";
  src: url("../font/hershey-noailles/Hershey-Noailles-Futura-Duplex-Regular.woff") format('woff');
}

@font-face {
  font-family: "HN-Futura-Simplex-Bold";
  src: url("../font/hershey-noailles/Hershey-Noailles-Futura-Simplex-Bold.woff") format('woff');
}

@font-face {
  font-family: "HN-Times-Dublex-Italic-Light";
  src: url("../font/hershey-noailles/Hershey-Noailles-Times-Duplex-Italic-Light.woff") format('woff');
}

@font-face {
  font-family: "CMU classic serif";
  src: url("../font/cmunci.woff") format('woff');
}

@font-face {
    font-family: "Apercu-mono";
    src: url("../font/Apercu/Apercu Mono.otf") format("opentype");
}

@font-face {
    font-family: "Apercu";
    src: url("../font/Apercu/Apercu Regular.otf") format("opentype");
}

*{
    padding: 0;
    margin: 0;
}
body {
  font-family: 'HN-Futura-Duplex-Regular';
  background-color: rgb(236, 238, 211);
}

a:link {
  text-decoration: none;
  color:black;
}
p > a:link, a:visited, a:hover, a:active{
  text-decoration: none;
  color:black;
  font-family: "HN-Times-Dublex-Italic-Light";
}

.bottombar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.bottombar>a {
  /* margin-bottom: -2vh; */
  color:white;
  text-shadow: 0.5px 0.5px 0.5px grey;
  font-size: 1.5rem;
  text-align: center;
  background-color:#c9c9c9;
  border:3px solid #ffffff;
  border-style: outset;
	display:inline-block;
	/* padding:1.2vh 1.2vh; */
	text-decoration:none;
}
.bottombar>a:hover {
  border-style:inset;
}



.content{
  /* margin:2vh; */
  display:flex;
  flex-direction: column;
}

.topblock{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-around;
  margin:1vh;
  border-bottom: dotted 2px;
}

.topblock > div{
  padding:2vh;
  border-right:dotted 2px;
  font-family: 'Apercu-mono';
  font-size: 1rem;
}

.block{
  display:flex;
  flex-direction: row;
  justify-content:flex-start;
  /* margin:1vh; */
  border-bottom: dotted 2px;
}

#myBtnContainer{
  margin:1vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:center;
}

.btn{
  font-family: 'Apercu-mono';
  font-size: 0.8rem;
  color:black;
  border: 1px black dotted;
  background-color: rgb(204, 204, 204);
  border-radius:5vh;
  padding:0.7vh 0.7vh;
}
.btn:hover {
  background-color: #ddd;
}
.btn:active, .btn:focus, .btn:target, .btn:active:focus {
  background-color: #666;
  color: white;
}

#type-autowork{
  background-color: rgb(255, 166, 47);
}
#type-edition{
  background-color: rgb(111, 61, 205);
}
#type-designwork{
  background-color: rgb(94, 125, 36);
}

.left-column{
  order:1;
  width:20%;
  font-size: 2rem;
  margin-top:1rem;
  margin-left:1rem;
  border-right: dotted 2px;
}
p {
  margin:0;
  padding:0;
}

.mid-column{
  order:2;
  /* width:50%; */
  display: flex;
  flex-direction: column;
  margin-top:2.5rem;
  margin-left:1rem;
  margin-bottom:1rem;
}

.filterDiv{
  margin:0.2rem;
  display: none;
}
.show {
  display: block;
}

.title{
  font-size: 1.5rem;
}

/* .title:hover + .image-container {
  display:block;
} */

.right-column{
  float: right;
  margin-left: auto;
  order:3;
  position: relative;
  margin:0;
  padding:0;
}
.right-column > div{
  display:none;
  margin:0;
  padding:0;
}
.right-column > div > img{
  position: absolute;
  margin:0;
  padding:0;
  height:100%;
}

.label{
  display: none;
  /* flex-direction: row;
  justify-content:flex-end; */
}
/* .label > div{
  font-family: 'Apercu-mono';
  font-size: 0.5rem;
  color:white;
  border: 1px white dotted;
  background-color: black;
  border-radius:5vh;
  padding:0.7vh 0.7vh;
} */



@media screen and (max-width: 800px) {

  .bottombar > a{
    font-size: 1rem;
  }

  .topblock{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    margin:0;
    border:0;
  }

  .topblock > div{
    padding:2vh;
    border-right:dotted 2px;
    font-size: 0.7rem;
    border-bottom: dotted 2px;
  }

  .block{
    display:flex;
    flex-direction: column;
    margin:1vh;
    border:0;
  }

  #myBtnContainer{
    margin:0.5vh;
  }

  .btn{
    font-size: 0.7rem;
  }

  .left-column{
    order:1;
    width:100%;
    margin-top:1rem;
    margin-left:0;
    font-size: 1rem;
    border-bottom: dotted 2px;
    border-right:0;
  }

  p {
    margin:0;
    padding:0;
  }

  .mid-column{
    order:2;
    width:100%;
    display: flex;
    flex-direction: column;
    margin-top:0;
    margin-left:0;
    margin-bottom:0;
    border:0;
  }

  .row{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    /* margin:0; */
  }

  .title{
    font-size: 1rem;
  }


}
