@font-face {
  font-family: "HN-Futura-Duplex-Regular";
  src: url("../font/hershey-noailles/Hershey-Noailles-Futura-Duplex-Regular.woff") format('woff');
}

@font-face {
  font-family: "HN-Futura-Simplex-Bold";
  src: url("../font/hershey-noailles/Hershey-Noailles-Futura-Simplex-Bold.woff") format('woff');
}

@font-face {
  font-family: "HN-Times-Dublex-Italic-Light";
  src: url("../font/hershey-noailles/Hershey-Noailles-Times-Duplex-Italic-Light.woff") format('woff');
}

@font-face {
  font-family: "CMU classic serif";
  src: url("../font/cmunci.woff") format('woff');
}

@font-face {
    font-family: "Apercu-mono";
    src: url("../font/Apercu/Apercu Mono.otf") format("opentype");
}

@font-face {
    font-family: "Apercu";
    src: url("../font/Apercu/Apercu Regular.otf") format("opentype");
}

*{
    padding: 0;
    margin: 0;
}

body{
  font-family: 'HN-Futura-Duplex-Regular';
  font-size: 1.5rem;
  background-color: rgb(236, 238, 211);
}
:lang(zh) {
  font-size: 1.3rem;
}

hr.divider-solid{
  border-top: 1.5px solid black;
}
a:link {
  text-decoration: none;
  color:black;
}
p > a:link, a:visited, a:hover, a:active{
  text-decoration: underline;
  color:black;
  font-family: "HN-Times-Dublex-Italic-Light";
}


::-webkit-scrollbar {
    width: 2rem;
}

::-webkit-scrollbar-track {
}

::-webkit-scrollbar-thumb {
  margin-bottom: 5vh;
  background-color:#c9c9c9;
  border:3px solid #ffffff;
  border-style: outset;
  display:inline-block;
  padding:1.2vh 1.2vh;
  text-decoration:none;
}

.bottombar {
  order: 1;
  width:100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.bottombar>a {
  color:white;
  text-shadow: 0.5px 0.5px 0.5px grey;
  text-align: center;
  background-color:#c9c9c9;
  border:3px solid #ffffff;
  border-style: outset;
	display:inline-block;
	text-decoration:none;
}
.bottombar>a:hover {
  border-style:inset;
}


.general-text{
  display:flex;
  flex-direction: row;
  margin-bottom:1rem;
}

.general-text > div{
  display:flex;
  flex-direction: column;
  justify-content:flex-start;
  border-right: dotted 2px;
  padding:2rem;
}

.top-row{
  order:1;
  font-size: 1.5rem;
  margin-bottom:1.5rem;
}

.bottom-row{
  order:2;
  font-size: 1rem;
  /* margin-top:2rem;
  margin-left:1rem;
  margin-bottom:1rem; */
}
.bottom-sub-row{
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-bottom: 1rem;
}
.bottom-sub-row-left-column{
  border-right: dotted 2px;
  padding-right:0.5rem;
}
.bottom-sub-row-right-column{
  padding-left:0.5rem;
}
#italic-in-block{
  font-family: "HN-Times-Dublex-Italic-Light";
}





.grid-container {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
  justify-content: center;
  margin-bottom: 10rem;
}
.grid-container > a{
  cursor: pointer;
  position: relative;
  border: 2px black dotted;
  width: 30vw;
  height: 70vh;
  margin: 0.5rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.text-banner{
  position: absolute;
  bottom:0;
  padding: 3%;
  background-color: white;
  width:100%;
  border-top: 2px black dotted;
}
.cover-date{
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 2%;
  /* line-height: 30%; */
  /* margin-top: -0.3%;
  margin-bottom: -5%; */
}
.cover-title{
  font-family: 'CMU classic serif', serif;
  font-style: italic;
  font-size: 1.5rem;
  line-height: 98%;
}


.imagebox{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
  justify-content: center;
  /* margin-right: 50%; */
  /* width: 50%; */
}
.imagebox > div{
  margin:1rem;
  /* max-width:50rem; */
}

#XL-pic{
  width:80rem;
  height:auto;
}
#L-pic{
  width:50rem;
  height:auto;
}
#M-pic{
  width:35rem;
  height:auto;
}
#S-pic{
  width:20rem;
  height:auto;
}
.imagebox > div > img{
  display: block;
  width:100%;
}
figcaption {
   font-size: 85%;
   text-align: right;
   /* color: white;
   background-color: black; */
   padding: 5px;
   margin-bottom: 8px;
}



@media screen and (max-width: 800px) {

  .bottombar > a{
    font-size: 1rem;
  }

  .general-text{
    display:flex;
    flex-direction: column;
    margin-bottom:1rem;
  }

  .general-text > div{
    display:flex;
    flex-direction: column;
    justify-content:flex-start;
    border-right: 0;
    border-bottom: dotted 2px;
    padding:1rem;
  }

  .top-row{
    order:1;
    font-size: 1rem;
    margin-bottom:0.75rem;
  }

  .bottom-row{
    order:2;
    font-size: 0.85rem;
    /* margin-top:2rem;
    margin-left:1rem;
    margin-bottom:1rem; */
  }



  .grid-container {
  }
  .grid-container > a{
    width: 100%;
    height: 50vh;
  }
  .text-banner{
  }
  .cover-date{
  }
  .cover-title{
    font-size: 1.25rem;
    line-height: 100%;
  }


  .imagebox>img{
    display: block;
    margin:5px;
    max-width:100% !important;
    height:auto;
  }


}
