*{
    padding: 0;
    margin: 0;
}

@font-face {
  font-family: "HN-Futura-Duplex-Regular";
  src: url("../font/hershey-noailles/Hershey-Noailles-Futura-Duplex-Regular.woff") format('woff');
}

@font-face {
  font-family: "HN-Futura-Simplex-Bold";
  src: url("../font/hershey-noailles/Hershey-Noailles-Futura-Simplex-Bold.woff") format('woff');
}

@font-face {
  font-family: "HN-Times-Dublex-Italic-Light";
  src: url("../font/hershey-noailles/Hershey-Noailles-Times-Duplex-Italic-Light.woff") format('woff');
}

@font-face {
  font-family: "CMU classic serif";
  src: url("../font/cmunci.woff") format('woff');
}

@font-face {
    font-family: "Apercu-mono";
    src: url("../font/Apercu/Apercu Mono.otf") format("opentype");
}

@font-face {
    font-family: "Apercu";
    src: url("../font/Apercu/Apercu Regular.otf") format("opentype");
}

body{
    overflow-x: hidden;
    font-family: 'HN-Futura-Duplex-Regular';
    font-size: 1.5rem;
}



.term{
  position: relative;
  width:80%;
  background:linear-gradient(to bottom, #c27fe8 5%, #a1a898 65%, #defabe 100%);
	border-radius:50vh;
	display:inline-block;
	padding:1.2vh 1.2vh;
	text-decoration:none;
  color:white;
  text-shadow: 0.5px 0.5px 0.5px grey;
  box-shadow:inset 0px 0px 2vh 0.3vh #d5e5ff;
  text-align: center;
}
.term:before {
  background-color: initial;
  background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
  border-radius: 125px;
  content: "";
  height: 50%;
  left: 4%;
  opacity: .7;
  position: absolute;
  top: 0;
  width: 92%;
}


.bottombar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.bottombar>a {
  position: relative;
  background:linear-gradient(to bottom, #ff9029 5%, #62627d 100%);
  border-radius:50vh;
  display:inline-block;
  padding:1.2vh 1.2vh;
  text-decoration:none;
  color:white;
  text-shadow: 0.5px 0.5px 0.5px grey;
  box-shadow:inset 0px 0px 2vh 0.3vh #d5e5ff;
  text-align: center;
}
.bottombar>a:before {
  background-color: initial;
  background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
  border-radius: 125px;
  content: "";
  height: 50%;
  left: 4%;
  opacity: .7;
  position: absolute;
  top: 0;
  width: 92%;
}
.bottombar>a:hover {
  background:linear-gradient(to bottom, #9bcee0 5%, #62627d 100%);
}

.grid>div::-webkit-scrollbar {
    width: 4vw;
}

.grid>div::-webkit-scrollbar-track {
}

.grid>div::-webkit-scrollbar-thumb {
  margin-bottom: 4vh;
  box-shadow: rgba(10, 37, 64, 0.28) 0px -32px 16px 3px inset;
  /* box-shadow:inset 0px 0px 3vh 0.3vh #797777; */
  background: linear-gradient(90deg, #defabe 0%, rgba(255,253,226,0.8225884103641457) 26%, rgba(132,125,156,0.8786108193277311) 77%, rgba(204,163,255,0.8393951330532212) 100%);
  border-radius:50vh;
  display:inline-block;
  padding:1.2vh 1.2vh;
  text-decoration:none;
}

.grid{
  column-count: 3;
}
.grid img{
  width:33vw;
}

#left{
  float: left;
  height: 100vh;
  width:33.33vw;
  overflow: scroll;
}
#middle{
  float: left;
  height: 100vh;
  width:33.33vw;
  overflow: scroll;
}
#right{
  float: left;
  height: 100vh;
  width:33.33vw;
  overflow: scroll;
}
.grid img{
  width: 100%;
}



@media only screen and (max-width: 660px) {
  .grid{
    display: flex; flex-direction: column;
    width:100vw;
    overflow: scroll;
  }
  .grid img{
    width:100%;
  }
  #left, #middle, #right{
    width: 100vw;
    float:none;
    height:auto;
    overflow:hidden;
  }
  .term{
    width:90vw;
    font-size: 4vh;
    text-align: center;
    box-shadow:inset 0px 0px 2vh 0.3vh #d5e5ff;
  	background:linear-gradient(to bottom, #f0ffde 8%, #c27fe8 75%);
  	background-color:#defabe;
  	border-radius:50vh;
  	display:inline-block;
  	padding:1.2vh 1.2vh;
  	text-decoration:none;
  }
  .term{
    background:linear-gradient(to bottom, #c27fe8 5%, #defabe 100%);
  	background-color:#c27fe8;
  }
  .bottombar > a{
    font-size: 1rem;
  }
  .term{
    font-size: 1rem;
  }
  .icons img{
    transform:scale(0.4, 0.4);
  }
  #middle{
    order:1;
  }
  #right{
    order:3;
  }
  #left{
    order:2;
  }
}
