*{
    padding: 0;
    margin: 0;
}

body{
    /* font-family: helvetica, sans-serif;
    font-size: var(--font-size-m);
    line-height: var(--line-height); */

}

a:link, a:visited, a:hover, a:active{
  text-decoration: none;
  color:black;
}
a:hover{
  background-color: black;
  color: white;
  cursor: pointer;
}

p{
  font-family: 'Rubik', sans-serif;
  margin:3vh;
  font-size: 3vh;
}
.term{
  width:80%;
  color:white;
  font-family: 'Work Sans', sans-serif;
  font-size: 4vh;
  text-align: center;
  box-shadow:inset 0px 0px 2vh 0.3vh #d5e5ff;
	background:linear-gradient(to bottom, #f0ffde 8%, #c27fe8 75%);
	background-color:#defabe;
	border-radius:50vh;
	display:inline-block;
	padding:1.2vh 1.2vh;
	text-decoration:none;
}
.term:hover{
  background:linear-gradient(to bottom, #c27fe8 5%, #defabe 100%);
	background-color:#c27fe8;
}
#special{
  font-style: italic;
}
.term2{
  width:90vw;
  color:white;
  font-family: 'Work Sans', sans-serif;
  font-size: 4vh;
  text-align: center;
  box-shadow:inset 0px 0px 2vh 0.3vh #d5e5ff;
  background:linear-gradient(to bottom, #fbdeff 8%, #beb249 75%);
  background-color:#5bbfff;
  border-radius:50vh;
  display:inline-block;
  padding:1.2vh 1.2vh;
  text-decoration:none;
}
.term2:hover{
  background:linear-gradient(to bottom, #beb249 5%, #fbdeff 100%);
	background-color:#c27fe8;
}

.bottombar {
  width:100%;
  position: fixed;
  bottom: 2vh;
  display: grid;
  grid-template-columns: 1fr 1fr 0.5fr;
}
.bottombar>a {
  margin-bottom: -2vh;
  color:white;
  font-family: 'Work Sans', sans-serif;
  font-size: 4vh;
  text-align: center;
  box-shadow:inset 0px 0px 2vh 0.3vh #607596;
	background:linear-gradient(to bottom, #ffdede 8%, #5344ff 80%);
	background-color:#faf4be;
	border-radius:50vh;
	display:inline-block;
	padding:1.2vh 1.2vh;
	text-decoration:none;
}
.bottombar>a:hover {
  background:linear-gradient(to bottom, #7ee6e6 5%, #fabefa 100%);
  background-color:#7ee6e6;
}


::-webkit-scrollbar {
    width: 10vh;
}

::-webkit-scrollbar-track {
}

::-webkit-scrollbar-thumb {
  margin-bottom: 5vh;
  box-shadow:inset 0px 0px 2vh 0.3vh #d5e5ff;
  background:linear-gradient(to right, #ccff4e 2%, #7e96e8 70%);
  background-color:#c4fff3;
  border-radius:50vh;
  display:inline-block;
  padding:1.2vh 1.2vh;
  text-decoration:none;
}

.grid{
  display:grid;
  grid-template-columns: 30% 50% 20%;
  height: 100vh;
}

/* #left{
  height: 100vh;
  overflow: scroll;
}
#middle{
  height: 100vh;
  overflow: scroll;
}
#right{
  height: 100vh;
  overflow: scroll;
} */


@media only screen and (max-width: 800px) {
  .grid{
    display: flex; flex-direction: column;
    width:100vw;
    overflow: scroll;
  }
  .grid img{
    width:100%;
  }
  #left, #middle, #right{
    width: 100%;
    float:none;
    height:auto;
    /* overflow:hidden; */
  }
  .term{
    width:90vw;
    color:white;
    font-family: 'Work Sans', sans-serif;
    font-size: 4vh;
    text-align: center;
    box-shadow:inset 0px 0px 2vh 0.3vh #d5e5ff;
  	background:linear-gradient(to bottom, #f0ffde 8%, #c27fe8 75%);
  	background-color:#defabe;
  	border-radius:50vh;
  	display:inline-block;
  	padding:1.2vh 1.2vh;
  	text-decoration:none;
  }
  .term2{
    width:90vw;
    color:white;
    font-family: 'Work Sans', sans-serif;
    font-size: 4vh;
    text-align: center;
    box-shadow:inset 0px 0px 2vh 0.3vh #d5e5ff;
    background:linear-gradient(to bottom, #fbdeff 8%, #beb249 75%);
    background-color:#5bbfff;
    border-radius:50vh;
    display:inline-block;
    padding:1.2vh 1.2vh;
    text-decoration:none;
  }
  .icons img{
    transform:scale(0.4, 0.4);
  }
  .bottombar {
    width:100vw;
    position: fixed;
    bottom: 0;
    display: grid;
    grid-template-columns:  0.3fr;
    grid-template-rows:  1fr 1fr;
  }
  .bottombar>a {
    margin-bottom: 0;
    color:white;
    font-family: 'Work Sans', sans-serif;
    font-size: 4vh;
    text-align: center;
    box-shadow:inset 0px 0px 2vh 0.3vh #607596;
  	background:linear-gradient(to bottom, #ffdede 8%, #5344ff 80%);
  	background-color:#faf4be;
  	border-radius:50vh;
  	display:inline-block;
  	padding:1.2vh 1.2vh;
  	text-decoration:none;
  }
  .bottombar>a:hover {
    background:linear-gradient(to bottom, #7ee6e6 5%, #fabefa 100%);
    background-color:#7ee6e6;
  }
  ::-webkit-scrollbar {
      width: 0vw;
  }

  ::-webkit-scrollbar-thumb {
    margin-bottom: 5vh;
    box-shadow:inset 0px 0px 2vh 0.3vh #d5e5ff;
    background:linear-gradient(to right, #ccff4e 2%, #7e96e8 70%);
    background-color:#c4fff3;
    border-radius:50vh;
    display:inline-block;
    padding:1.2vh 1.2vh;
    text-decoration:none;
  }
  #middle{
    order:2;
  }
  #right{
    order:3;
  }
  #left{
    order:1;
  }
}
