*{
    padding: 0;
    margin: 0;
}

body{
}
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,wght@1,200;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
  font-family: "Fraunces";
  src: url("font/Fraunces_9pt_SuperSoft-ThinItalic.woff") format('woff');
}

@font-face {
  font-family: "CMU classic serif";
  src: url("font/cmunci.woff") format('woff');
}


hr.divider-solid{
  border-top: 1.5px solid black;
}
a:link, a:visited, a:hover, a:active{
  text-decoration: none;
  color:black;
}
a:hover{
  background-color: black;
  color: white;
  cursor: pointer;
}

p{
  font-family: 'Rubik', sans-serif;
  margin:12px;
  font-size: 1.2rem;
}
.term{
  width:90%;
  color:white;
  font-family: 'CMU classic serif';
  text-shadow: 0.5px 0.5px 0.5px grey;
  font-size: 1.5rem;
  text-align: center;
  box-shadow:inset 0px 0px 2vh 0.3vh #d5e5ff;
	background:linear-gradient(to bottom, #f0ffde 8%, #c27fe8 75%);
	background-color:#defabe;
	border-radius:50vh;
	display:inline-block;
	padding:1.2vh 1.2vh;
	text-decoration:none;
}
.term:hover{
  background:linear-gradient(to bottom, #c27fe8 5%, #defabe 100%);
	background-color:#c27fe8;
}
#special{
  font-family: 'Fraunces', serif;
  font-style: italic;
  font-weight: 100;
}
small{
  font-family: 'Space Mono', monospace;
  /* font-size: 1rem; */
  color:rgb(230, 91, 72);
  font-size: 0.7rem;
}

.bottombar {
  order: 1;
  width:100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.bottombar>a {
  /* margin-bottom: -2vh; */
  color:white;
  font-family: 'CMU classic serif';
  text-shadow: 0.5px 0.5px 0.5px grey;
  font-size: 1.5rem;
  text-align: center;
  box-shadow:inset 0px 0px 2vh 0.3vh #607596;
	background:linear-gradient(to bottom, #ffdede 8%, #5344ff 80%);
	background-color:#faf4be;
	border-radius:50vh;
	display:inline-block;
	padding:1.2vh 1.2vh;
	text-decoration:none;
}
.bottombar>a:hover {
  background:linear-gradient(to bottom, #7ee6e6 5%, #fabefa 100%);
  background-color:#7ee6e6;
}


/* ::-webkit-scrollbar {
    width: 6vw;
}

::-webkit-scrollbar-track {
}

::-webkit-scrollbar-thumb {
  margin-bottom: 5vh;
  box-shadow:inset 0px 0px 2vh 0.3vh #d5e5ff;
  background:linear-gradient(to right, #ccff4e 2%, #7e96e8 70%);
  background-color:#c4fff3;
  border-radius:50vh;
  display:inline-block;
  padding:1.2vh 1.2vh;
  text-decoration:none;
} */

.columns{
  display: flex;
  flex-direction: row;
}

#left{
  width: 50%;
  height: 100vh;
  overflow: scroll;
}
#left p:last-of-type{
  margin-bottom:9rem;
}
#right{
  width: 50%;
  height: 100vh;
  overflow: scroll;
}
#right p:last-of-type{
  margin-bottom:9rem;
}


@media only screen and (max-width: 800px) {
  .columns{
    display: flex;
    flex-direction: column;
    width:100%;
  }
  #left, #right{
    width: 100%;
    float:none;
    height:auto;
    /* overflow:hidden; */
  }
  #left p:last-of-type{
    margin-bottom:0rem;
  }
  #right p:last-of-type{
    margin-bottom:10rem;
  }

}
