*{
    padding: 0;
    margin: 0;
}

@font-face {
  font-family: "CMU classic serif";
  src: url("font/cmunci.woff") format('woff');
}

body{
    /* font-family: helvetica, sans-serif;
    font-size: var(--font-size-m);
    line-height: var(--line-height); */
    overflow-x: hidden;
}

/* a:link, a:visited, a:hover, a:active{
  text-decoration: none;
  color:black;
}
a:hover{
  background-color: black;
  color: white;
  cursor: pointer;
} */


.term{
  width:80%;
  color:white;
  font-family: 'CMU classic serif';
  text-shadow: 0.5px 0.5px 0.5px grey;
  font-size: 1.5rem;
  text-align: center;
  box-shadow:inset 0px 0px 2vh 0.3vh #d5e5ff;
	background:linear-gradient(to bottom, #f0ffde 8%, #c27fe8 75%);
	background-color:#defabe;
	border-radius:50vh;
	display:inline-block;
	padding:1.2vh 1.2vh;
	text-decoration:none;
}
.term:hover{
  background:linear-gradient(to bottom, #c27fe8 5%, #defabe 100%);
	background-color:#c27fe8;
}


.bottombar {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.bottombar>a {
  /* margin-bottom: -2vh; */
  color:white;
  font-family: 'CMU classic serif';
  text-shadow: 0.5px 0.5px 0.5px grey;
  font-size: 1.5rem;
  text-align: center;
  box-shadow:inset 0px 0px 2vh 0.3vh #607596;
	background:linear-gradient(to bottom, #ffdede 8%, #5344ff 80%);
	background-color:#faf4be;
	border-radius:50vh;
	display:inline-block;
	padding:1.2vh 1.2vh;
	text-decoration:none;
}
.bottombar>a:hover {
  background:linear-gradient(to bottom, #7ee6e6 5%, #fabefa 100%);
  background-color:#7ee6e6;
}

.grid>div::-webkit-scrollbar {
    width: 5vw;
}

.grid>div::-webkit-scrollbar-track {
}

.grid>div::-webkit-scrollbar-thumb {
  margin-bottom: 5vh;
  box-shadow: rgba(10, 37, 64, 0.28) 0px -32px 16px 3px inset;
  /* box-shadow:inset 0px 0px 3vh 0.3vh #797777; */
  background: linear-gradient(90deg, rgba(227,255,176,0.9122242647058824) 0%, rgba(255,253,226,0.8225884103641457) 36%, rgba(104,100,159,0.7469581582633054) 67%, rgba(132,125,156,0.8786108193277311) 87%, rgba(204,163,255,0.8393951330532212) 100%);
  border-radius:50vh;
  display:inline-block;
  padding:1.2vh 1.2vh;
  text-decoration:none;
}

.grid{
  column-count: 3;
}
.grid img{
  width:33vw;
}

#left{
  float: left;
  height: 100vh;
  width:33.33vw;
  overflow: scroll;
}
#middle{
  float: left;
  height: 100vh;
  width:33.33vw;
  overflow: scroll;
}
#right{
  float: left;
  height: 100vh;
  width:33.33vw;
  overflow: scroll;
}
.grid img{
  width: 100%;
}



@media only screen and (max-width: 660px) {
  .grid{
    display: flex; flex-direction: column;
    width:100vw;
    overflow: scroll;
  }
  .grid img{
    width:100%;
  }
  #left, #middle, #right{
    width: 100vw;
    float:none;
    height:auto;
    overflow:hidden;
  }
  .term{
    width:90vw;
    font-size: 4vh;
    text-align: center;
    box-shadow:inset 0px 0px 2vh 0.3vh #d5e5ff;
  	background:linear-gradient(to bottom, #f0ffde 8%, #c27fe8 75%);
  	background-color:#defabe;
  	border-radius:50vh;
  	display:inline-block;
  	padding:1.2vh 1.2vh;
  	text-decoration:none;
  }
  .term{
    background:linear-gradient(to bottom, #c27fe8 5%, #defabe 100%);
  	background-color:#c27fe8;
  }
  .bottombar > a{
    font-size: 1rem;
  }
  .term{
    font-size: 1rem;
  }
  .icons img{
    transform:scale(0.4, 0.4);
  }
  #middle{
    order:1;
  }
  #right{
    order:3;
  }
  #left{
    order:2;
  }
}
