*{
    padding: 0;
    margin: 0;
}

@font-face {
  font-family: "CMU classic serif";
  src: url("font/cmunci.woff") format('woff');
}

@font-face {
    font-family: "Apercu-mono";
    src: url("font/Apercu/Apercu Mono.otf") format("opentype");
}

@font-face {
    font-family: "Apercu";
    src: url("font/Apercu/Apercu Regular.otf") format("opentype");
}

body{
  font-family: 'Apercu';
}

a:link, a:visited{
  text-decoration: none;
  color:black;
}
a:hover, a:active{
  color:white;
  background-color: black;
}
.bottombar {
  order: 1;
  width:100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.bottombar>a {
  /* margin-bottom: -2vh; */
  color:white;
  font-family: 'CMU classic serif';
  text-shadow: 0.5px 0.5px 0.5px grey;
  font-size: 1.5rem;
  text-align: center;
  box-shadow:inset 0px 0px 2vh 0.3vh #607596;
	background:linear-gradient(to bottom, #ffdede 8%, #5344ff 80%);
	background-color:#faf4be;
	border-radius:50vh;
	display:inline-block;
	padding:1.2vh 1.2vh;
	text-decoration:none;
}
.bottombar>a:hover {
  background:linear-gradient(to bottom, #7ee6e6 5%, #fabefa 100%);
  background-color:#7ee6e6;
}
.content{
  display: flex;
  flex-direction: row;
}
.imagebox{
  order: 1;
  width: 67%;
  height: 100vh;
  overflow-x:hidden;
  overflow-y: scroll;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}
/* .imagebox::-webkit-scrollbar { width: 0 !important } */
.imagebox::-webkit-scrollbar {
  width: 3.5rem;
}
.imagebox::-webkit-scrollbar-track {
}
.imagebox::-webkit-scrollbar-thumb {
  box-shadow:inset 0px 0px 2vh 0.3vh #d5e5ff;
  background:linear-gradient(to right, #ccff4e 2%, #7e96e8 70%);
  background-color:#c4fff3;
  border-radius:50vh;
  display:inline-block;
  padding:1.2vh 1.2vh;
  text-decoration:none;
}
.imagebox img{
  width: 100%;
}

.text {
  order: 2;
  width: 33%;
  height: 100vh;
  overflow-x:hidden;
  overflow-y: scroll;
  -ms-overflow-style: none;
}
.text::-webkit-scrollbar {
  width: 0 !important
}
#tag{
  display: flex;
  align-items: flex-start;
  flex-wrap:wrap;
}

p {
    font-size: 1rem;
    margin-bottom: 20px;
}
h2 {
    font-size: 130%;
    margin-bottom: 8px;
}
h1 {
    margin-top: 15px;
    font-size: 200%;
    margin-bottom: 10px;
}
p4{
  font-family: 'Apercu-mono';
  font-size: 0.8rem;
  color:white;
  border: 1px white dotted;
  background-color: black;
  border-radius:5vh;
  display:inline-block;
  margin:0.5vh;
  padding:0.7vh 0.7vh;
}
ul{
  margin-top: -8px;
  list-style: circle;
  list-style-position: inside;
}
figcaption {
   font-size: 85%;
   text-align: right;
   /* color: white;
   background-color: black; */
   padding: 5px;
   margin-bottom: 8px;
}




@media only screen and (max-width: 800px) {
  ::-webkit-scrollbar {
      display:none;
  }
  .content{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .imagebox{
    order:2;
    width:100%;
    height: auto;
  }
  /* .imagebox div:last-of-type{
    margin-bottom:9rem;
  }
  .imagebox img:last-of-type{
    margin-bottom:9rem;
  } */
  .text {
    order:1;
    width:100%;
    padding:5px;
    height: auto;
  }
  h3{
    margin-bottom: 1rem;
    font-size: 2rem;
  }
  p3{
    padding-bottom: 10%;
  }
  /* .bottombar {
    width:100vw;
    position: fixed;
    bottom: 0;
    display: grid;
    grid-template-columns:  0.3fr;
    grid-template-rows:  1fr 1fr;
  }
  .bottombar>a {
    margin-bottom: 0;
  } */

}
